/*

*/
	.hidden {
		height: 		0;
		overflow:		hidden;
	}
	.breaker {
		clear:			both;
		height:			5em;
	}

	.panel {
		background-color: blue;
		box-shadow:  	2px 2px 5px 1px #444;
		position:		fixed; 	
	}

	/* Panel */
	.panel-bottom, .panel-top {
		margin:  		auto 6%;
	}
	.panel-top {
		top:			0;
	}
	.panel-bottom {
		bottom:			0;
	}

	.panel-left, .panel-right {
		height: 		100%;
		margin:			1em auto;
		max-width: 		35em;
	}
	.panel-left {
		left: 			0;
	}
	.panel-right {
		right: 			0;
	}
	.panel-left .panel-body,
	.panel-left .panel-intro,
	.panel-right .panel-body,
	.panel-right .panel-intro {
		display:		inline-block;
		vertical-align: top;
		width: 			10em;
	}
	

	/* Body */
	.panel-intro, .panel-body {
		margin:			auto 2em;
	}
	.panel-body {
		overflow:		hidden;
	}
	/*.panel-top .panel-body :first-child {
		margin-top:		0;
	}
	.panel-left .panel-body {
		margin: 	auto 0;
	}*/


	/* Trigger */
	.panel-trigger{
		background-color: red;
	}
	.trigger-slide {
		position:		absolute;
	}
	.trigger-notslide {
		position:		fixed;
	}
	.trigger-bottom {
		bottom:			-0.5em;
	}
	.trigger-left {
		left:			5em;
	}
	.trigger-right {
		right:			5em;
	}
	.trigger-top {
		top:			-0.5em;

	}


